li{
    list-style-type: none;
    padding: 0.1em;
}

input[type="text"]{
    appearance: none;
}

body{
    background-image: url('assets/spaceBG_tilable.jpg');
    background-position: center;
    color: white;
    font-weight: bold;
}

#jokes ul{
    padding: 0;
    font-size: 1.25rem;
    text-align: center;

    width: 100%;
}

#jokes li{
    width: 14.28%;
}

/* following is to reduce cheating chances */
@media screen and (max-width: 500px){
    #jokes li{
	font-size: 0.75em;
	line-height: 2.5em;
    }
}

@media screen and (max-width: 750px){
    #jokes li{
	font-size: 0.6em;
	line-height: 2em;
    }
}

#playfield{
    max-width: 50rem;
    margin: auto;
    position: relative; /* hack so that game-over-line remains in normal flow under this */
}

#controls{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 7.5rem;
    padding-bottom: 0;
    font-weight: bold;
    text-shadow: 0 0 15px;
    
    background-image: url('assets/dashboard.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game-over-line{
    position: absolute;
    top: 30em;
    width: 100%;
    border-color: white;
}

.target{
    background-image: url('assets/crosshair.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode:darken;
}

#typing-field{
    background-color: rgba(0,0,0,0.1); 
    color: lime;
    outline: none;
    border: none;
    border-radius: 0.5em;
    height: 2em;
    max-width: 11em;
    position: relative;
    bottom: 1.4em;
    font-size: 1.1rem;
    text-align: center;
    text-shadow: inherit;
    font-weight: inherit;
    box-shadow: 0 0 15px cyan;
}

#score-field{
    position: absolute;
    top: 5%;
    left: 10%;
    color: cyan;
}

#target-field{
    position: absolute;
    top: 5%;
    left: 70%;
    color: cyan;
}

@media screen and (max-width:800px){
    #controls{
	padding: 4rem;
	padding-bottom: 0;
	font-size: 0.9rem;
    }
    #typing-field{
	bottom: 0.5em;
	height: 1.5em;
	max-width: 7em;
    }
    #score-field{
	top: 2%;
    }    
    #target-field{
	top: 2%;
    }
}

#start-screen,
#game-over-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

#start-button,
#restart-button {
    border: 3px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    padding: 0.75em;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    transition: background-color 200ms ;
}

#start-button:hover,
#restart-button:hover {
    color: #000000;
    background-color: #ffffff;
}

#lore{
    max-width: 50em;
    text-align: center;
    border-radius: 1.5em 0.4em 1.5em 0.4em;
    padding: 1em;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 15px rgba(0,127,192,0.5);
    backdrop-filter: blur(5px);
}
